<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Club Navigator Plus</title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <div class="nav-container">
            <div class="logo">
                <img src="college-logo.png" alt="College Logo">
                
            </div>
            <div><a href="/"> Navigator Plus</a></div>
            <ul class="nav-links">
                <li><a href="#fests">More about Fests</a></li>
                <li><a href="#aptitude-test">Take Aptitude Test</a></li>
                <li><a href="/sign-in">Sign In</a></li>
                <li><a href="#discover">Discover the College</a></li>
                <li><a href="#more-info">More Info and Contacts</a></li>
            </ul>
        </div>
    </nav>

    <!-- Colorful Heading -->
    <div class="colorful-heading">
        <h1>Welcome to Club Navigator Plus</h1>
    </div>
    <header>
        <h2>Explore Our Vibrant Campus Life</h2>
    </header>